SECRET_KEY=your_secret_key_here

DEBUG=True

# НАСТРОЙКИ ПОДКЛЮЧЕНИЯ К PostgreSQL
DATABASE_NAME=habit_tracker
DATABASE_USER=your_user_name
DATABASE_PASSWORD=your_password
DATABASE_HOST=localhost
DATABASE_PORT=5432

# GITHUB TOKEN
# Personal Access Token для GitHub
# Создайте на: https://github.com/settings/tokens
# Необходимые scope: repo, read:org, user (в зависимости от нужд)
GITHUB_TOKEN=your_github_token_here

REDIS_URL=redis://localhost:6379/0

TELEGRAM_BOT_TOKEN=your_telegram_token
TELEGRAM_CHAT_ID=your_telegram_id
